@font-face {
  font-family: "LilitaOne";
  src: url("./font/LilitaOne-Regular.ttf") format("woff2"),
    url("./font/LilitaOne-Regular.ttf");
  font-weight: 400;
  font-style: regular;
}

body {
  font-weight: 400;
  font-style: regular;
  font-family: "LilitaOne" !important;
  color: red;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #555;
}

main {
  padding: 20px;
  color: #333;
}

main h2 {
  color: #0066cc;
}

main ul {
  list-style: disc;
  margin-left: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 5px;
}

footer a {
  color: #66ccff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
